*.pyc
.vscode
ckpts
customized_dataset
output_test_audio
eval_result
tmp_output
output
gs-output
build
*.sh
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist

audio_model/example
tensorboard_3d
**/__pycache__/
events.out*
ckpt
release